.heading{
    background-color: #F0FFF0;
    margin-bottom: 50px;
}
.container{
    margin-bottom: 50px;
}
.logo-img{
    width: 20%;
}
.nav-item{
    margin-left: 25px;
}
.sing-in{
    background-color: #21B573;
    color: #fff !important;
    border-radius: 33px;
    padding: 12px 28px !important;
}
.green-btn{
    border: none;
    padding: 12px 36px;
    background-color: #21B573;
    color: #fff;
    border-radius: 33px;
    margin-bottom: 80px;
}
.learn-with-fun h1 {
    margin: 22px 0;
    font-size: 45px;
    line-height: 70px;
}
.green-heighlight{
    color: #21B573;
}
.learn-with-fun p{
    color: #6C6B6B;
    margin-bottom: 30px;
    line-height: 36px;
}
.learn-with-fun h6{
    color:#FD511A;
}
.learn-with-fun img{
    width: 554px;
    height: 346px;
}
